<!DOCTYPE html>
<html>
    <head>
        <style>
            form {
                background-color: lightseagreen;
                padding: 20px;
                margin: 0 auto;
                width: 350px;
                font: 16px sans-serif;
                border-radious: 10px;
            }
            .error { color: red; }
        </style>
    </head>
    <body>
        <h1>User Sign-up</h1>
        <form method="POST">
            <label for="username">Username:</label>
            <input name="username" type="text" value="" />
            <br><label for="password">Password:</label>
            <input name="password" type="password" value="" />
            <br><label for="verify">Verify Password:</label>
            <input for="verify" type="password" value="" />
            <br><label for="email">Email (optional):</label>
            <input for="email" type="text" value="" />
            <br><input type="submit" value="Submit" />
        </form>
    </body>
</html>